*margin{
    padding: 0;
    margin: 0;
}
.container{
    min-height: 100vh;
    background-color:wheat;
    overflow: hidden;
}
.nav{
    display: flex;
    background-color: rgb(208, 74, 7);
}
.nav ul{
    display: flex;
    padding: 0 5px;
    margin: auto;
}
.nav ul li{
    list-style: none;
    padding: 2px 5px;
    margin: 2px 10px;
}
.nav ul li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 5px;
}
.nav ul li a:hover{
    color: #1e1e1e;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 100px;
    min-height: 100vh;
}
.main>div{
    /* display: inline-block; */
    width: auto;
}
.name{
    font-weight: bold;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.name h1 span{
    color:  rgb(209, 75, 9);
}
.para{
    display: inline;
    color: #1f1f1f;
}
button{
    display: inline;
    cursor: pointer;
    background-color: rgb(209, 75, 9);
    padding: 5px 5px;
    border-radius: 2px;
    font-size: medium;
    font-family: sans-serif;
}
@media(max-width: 740px){
    .container{
        background-color: #1f1f1f;
    }
    .nav{
        background-color: black;
    }
    .nav ul li a:hover{
        color: rgb(252, 236, 11);
    }
    .name h1 span{
        color:  rgb(252, 236, 11);
    }
    .para{
        color: #fff;
    }
    button{
        background-color: #f1f1f1;
    }
    
}
